{% extends 'base.html' %}
  {% block head %}
  <style media="screen">
  html{
    background-image: url(https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAm1AAAAJGJjYzVkMWEzLTQ0NmYtNDcyZS1iNmM5LWI0MjRkZjVkYzEwOA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
    body{
      background-color: transparent
    }
  </style>
  <div class="container">
    <div class="jumbotron text-center" style="background-color:transparent">
      <h3>All the profiles of various professionals can be found here.</h3>
    </div>
    <style media="screen">
      .row{
        overflow: auto;
        height: 20rem;
      }
    </style>
    <div class="row">
      {% for p in prof %}
      <div class="col">
        <div class="card" style="width: 18rem;opacity:0.8">
      <div class="card-body">
        <h5 class="card-title">{{p.user.first_name}} {{p.user.last_name}}</h5>
        <p class="card-text">{{p.qualif}}</p>
        <p class="card-text">{{p.user.email}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{p.category}}</li>
        <li class="list-group-item">{{p.description}}</li>
        <li class="list-group-item"><span style="color:#82a6fe">Contact</span> : {{p.phone}}</li>
      </ul>
    </div>
    <br>
      </div>
      {% endfor %}
    </div>
  </div>


  {% endblock %}
